@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --neutral-50: #f3f2f2;
  --neutral-100: #d2d0d0;
  --neutral-200: #f1eff0;
  --neutral-300: #ffffff;
  --neutral-400: #e9e6e6;
  --neutral-700: #3b3c3d;
  --neutral-800: #272525;
  --neutral-900: #0c0b0b;
  --primary-color: #3ecf8e;
  --error: #f06666;
  --main-bg: url("/dark-main-bg.svg");
}

.dark {
  --neutral-50: #272727;
  --neutral-100: #2e2e2e;
  --neutral-200: #202020;
  --neutral-300: #1e1d1c;
  --neutral-400: #161616;
  --neutral-700: #d8d4d4;
  --neutral-800: #b9b2b2;
  --neutral-900: #f2efef;
  --primary-color: #33b078;
  --main-bg: url("/dark-main-bg.svg");
}
*,
::after,
::before {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.5;
}
li {
  list-style: none;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover {
  outline: none;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
